<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PWS Webstore</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css\all.css" />
</head>

<body>
  <!-- Dit voegt de header toe uit /partials/header. Pas daar dus ook de header aan als je die wilt aanpassen -->
  <%- include('../partials/header'); %>
  <h1>PWS Webstore</h1>
</body>


</html>