<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>

	<body>
		<header>
			<div class="topNav">
				<p class="linksText">Gratis verzending</p>
				<p class="middenText">Voor 22:22 uur bestellen, morgen in huis</p>
				<p class="rechtsText">Bel onze klantenservice voor vragen</p>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home </a></li>
					<li><a href="/klantenservice" class="active">Klantenservice</a></li>
					<li style="float: right"><a href="/winkelmand">Winkelmand</a></li>
				</ul>
				<div class="search-container">
					<form id="form">
						<input type="text" id="form_input" />
						<button type="submit" id="submit">
							<i class="fa fa-search"></i>
						</button>
					</form>
				</div>
			</nav>
		</header>
		<div class="row2">
			<div class="column2">
				<h1>Uw gegevens zijn beveiligd</h1>
				<p>Onze website is beveiligd met SSL encryptie.</p>
				<p>Hackers kunnen niet meelezen</p>
			</div>
			<div class="column2">
				<h1>Vragen?</h1>
				<p>Telefoonnummer: 075-123456</p>
				<p>Email: klantenservice@techy24.nl</p>
			</div>
			<div class="column2">
				<img
					src="https://www.thuiswinkel.org/Images/logo-thuiswinkel-waarborg_horizontaal.svg"
					alt=""
				/>
			</div>
		</div>

		<div class="form">
			<h2>Vul uw gegevens hieronder in om uw bestelling te voltooien</h2>
			<form action="/action_page.php">
				<label for="fname">Voornaam*</label>
				<input type="text" placeholder="Uw voornaam.." />

				<label for="lname">Achternaam*</label>
				<input type="text" placeholder="Uw achternaam.." />

				<label for="bestelnr">Emailadres*</label>
				<input type="text" placeholder="Uw emailadres.." />

				<label for="bestelnr">Telefoonnummer*</label>
				<input type="text" placeholder="Uw telefoonnummer.." />

				<label for="country">Land*</label>
				<select id="country" name="country">
					<option value="australia">Nederland</option>
					<option value="canada">België</option>
					<option value="anders">Anders</option>
				</select>

				<label for="bestelnr">Straatnaam en huisnummer*</label>
				<input type="text" placeholder="Uw straatnaam en huisnummer.." />

				<label for="bestelnr">Plaats*</label>
				<input type="text" placeholder="Uw plaats.." />

				<label for="bestelnr">Postcode*</label>
				<input type="text" placeholder="Uw postcode.." />

				<label for="bericht">Opmerkingen</label>
				<input
					type="text"
					id="lname"
					name="bericht"
					placeholder="Uw opmerkingen.."
					style="height: 75px"
				/>

				<input type="submit" class="versturen" value="Betalen" />
			</form>
		</div>
		<div class="wrapper"><%- include('../partials/footer'); %></div>
		<script src="js/zoekbalk.js"></script>
	</body>
</html>
