<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product pagina</title>
		<link rel="stylesheet" href="css/style.css" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


	</head>
	<body>
		<%- include('../partials/header'); %>
        <h2 id="productNaam">Laden...</h2>
        <h3 id="productBeschrijving">Laden...</h2>
        <p id="productPrijs">Laden...</p>
		<img id="productAfbeelding" src="https://www.vuescript.com/wp-content/uploads/2018/11/Show-Loader-During-Image-Loading-vue-load-image.png" alt="">
		<%- include('../partials/footer'); %>
        <script src="js/product_informatie.js"></script>
	</body>
</html>
