:root {
  font-size: 16px;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04aa6d;
}

nav {
  clear: both;
}

.topNav {
  background-color: white;
  margin: 10px;
}

.topNav p {
  float: left;
}

.topNav .linksText {
  width: 33%;
  text-align: left;
}

.topNav .middenText {
  width: 33%;
  text-align: center;
}

.topNav .rechtsText {
  width: 33%;
  text-align: right;
}
